@use "@/scss" as *;

.progress_bar_wrapper {
    width: 100%;
    display: flex;
    border: none;
    justify-content: flex-start;
    gap: 1rem;
}

.selected {
    outline: 1px solid $clr-primary;
}

.progress_bar {
    width: 33%;
}

.wrapper {
    width: min(15rem, 100%);
    position: relative;

    padding: 1rem;

    box-sizing: border-box;
}

.deleteButton {
    position: absolute;
    top: calc(50% - 0.625rem);
    right: min(1.5rem, 7%);
}
