.skills_row {
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-bottom: 20px;
}

.progress_bar_wrapper {
    width: 30%;
    justify-content: flex-start;
    gap: 1rem;
}

@media only screen and (max-width: 769px) {
    .skills_row {
        flex-direction: column;
    }

    .progress_bar_wrapper {
        width: 90%;
    }
}
