@use "@/scss" as *;

.item {
    width: 100%;

    align-items: center;

    &Wrapper {
        width: 100%;
        display: flex;
        border: none;
        justify-content: flex-start;
        gap: 1rem;

        &_selected {
            outline: 1px solid $clr-primary;
        }

        padding-right: 2rem;
    }
}

.deleteButton {
    position: absolute;
    top: calc(50% - 0.625rem);
    right: min(1.5rem, 15%);
}

.wrapper {
    min-width: min(15rem, 100%);
    max-width: 100%;
    position: relative;

    padding: 0.5rem;

    box-sizing: border-box;
}

.lang {
    &_B1 {
        color: darkgreen;
    }

    &_B2 {
        color: steelblue;
    }

    &_C1 {
        color: rgb(189, 143, 28);
    }

    &_C2 {
        color: rgb(214, 162, 30);
    }

    &_Native {
        color: $clr-primary;
    }
}

.name {
    width: 100%;
    text-align: center;
}
