@use "@/scss" as *;

.listWrapper {
    box-sizing: border-box;
    width: 100%;
}

.searchCreateContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
}

.search {
    max-width: 300px;
}

.createButton {
    background-color: $clr-primary;
    border-color: $clr-primary;
    border-radius: 10px !important;
}

.table {
    background-color: $clr-secondary;
    color: $clr-dark;

    &Wrapper {
        box-sizing: border-box;
        width: 80%;
        margin: 0 auto;
    }
}
