@use "@/scss" as *;

.listWrapper {
    box-sizing: border-box;
    width: 100%;
}

.search {
    max-width: 18.75rem;

    &CreateContainer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 20px 0;
    }
}

.createButton {
    background-color: $clr-primary;
    border-color: $clr-primary;
    border-radius: 10px;
}

.table {
    &Wrapper {
        box-sizing: border-box;
        width: 100%;
        margin: 0 auto;
    }
}
