.red {
    color: #c63031;
}

.grey {
    color: #767676;
}

.white {
    color: white;
}

.big {
    font-size: 1.2em;
}

.small {
    font-size: 1em;
}

.header_wrapper {
    box-shadow: 0 1px 10px 0 #2E2E2E;
    display: flex;
    justify-content: space-between;
    z-index: 999;
}