@use "@/scss" as *;

.breadcrumb {
    position: sticky;
    top: $header-height;
    z-index: 7;

    box-sizing: border-box;

    display: flex;
    align-items: center;

    background-color: var(--clr-bg);

    padding: 1rem 0;

    ol {
        & > * {
            flex-shrink: 0;
        }

        overflow-x: scroll;

        &::-webkit-scrollbar {
            display: none;
        }
    }
}
