@import "scss";

:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;

    color: $clr-secondary;
    background-color: $clr-dark;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    min-width: 100vw;
    min-height: 100vh;
    overflow: hidden;
}
